<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="3.0">
<servlet>
    <servlet-name>PropertyServlet</servlet-name>
    <servlet-class>org.example.servlets.PropertyServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>PropertyServlet</servlet-name>
    <url-pattern>/properties</url-pattern>
</servlet-mapping>

<welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
</welcome-file-list>
</web-app>
